**/telegram-bot/*
**/gpt-context/*
**/secrets.dev.yaml
**/values.dev.yaml
**/*.*proj.user
**/docker-compose*
**/*.env
**/*LICENSE
!pyproject.toml
!poetry.lock
!Makefile
!.gitignore
!.dockerignore
!Dockerfile
!instagram_service
.idea
.venv
example.env
README.md
