**/telegram-bot/*
**/gpt-conxet/*
**/secrets.dev.yaml
**/values.dev.yaml
**/*.*proj.user
**/docker-compose*
**/*.env
**/*LICENSE
example.env
README.md
!main.py
!poetry.lock
!pyproject.toml
!Makefile
!.gitignore
!__init__.py
!.dockerignore
!Dockerfile
